{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/config/(.*)$",
    "^@/api(/.*)?$",
    "^@/lib/(.*)$",
    "^@/store(/.*)?$",
    "^@/hooks/(.*)$",
    "^@/constants(/.*)?$",
    "^@/styles/(.*)$",
    "^@/app/(.*)$",
    "",
    "^@/components/ui/(.*)$",
    "^@/components(/.*)?$",
    "^[./]_components(/.*)?$",
    "",
    "^types$",
    "^@/types/(.*)$",
    "<TYPES>",
    "<TYPES>^[./]",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-sort-json"
  ],
  "printWidth": 80,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
